@{
    ViewData["Title"] = "Không tìm thấy";
}
<div class="text-center mt-5">
    <h1 class="display-1 text-danger">404</h1>
    <h2>Không tìm thấy dữ liệu bạn yêu cầu!</h2>
    <p>Bản ghi này có thể đã bị xóa hoặc đường dẫn không chính xác.</p>
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Về Trang Chủ</a>
</div>